
<!DOCTYPE html>
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<html>

<head>
</head>
<body class="BG">
    <header>
    </header>
    <div class="centered">

        <b style="margin-left:225px; font-size:35px">ABOUT US</b>
        <br />
        <p style="margin-left:195px;">What does Farmerce do?</p>

        <p style="text-align:center">
            The group’s proposed solution for the identified problem is to
            provide an e-commerce website that will help support our local
            farmers that will solve their problems during the pandemic. Netizens
            would be able to post and purchase products on our website for easy
            transaction of the product of their choice. The farmers will be able
            to use our website to view, create and update the products that they
            have listed. Only the developers or administrators would be able to delete
            an existing product.
        </p>
    </div>
</body>
</html>