
<!DOCTYPE html>
<link href="~/css/StyleSheet2.css" rel="stylesheet" />
<html>

<head>
</head>
<body class="BG">
    <img class="logo" src="~/image/HomePage/2.png" />

    <h1 class="AUS"><b>ABOUT US</b></h1>
    <h2 class="AUS">What does Farmerce do?</h2>
    <p class="aboutus">
        The group’s proposed solution for the identified problem is to
        provide an e-commerce website that will help support our local
        farmers that will solve their problems during the pandemic. Netizens
        would be able to post and purchase products on our website for easy
        transaction of the product of their choice. The farmers will be able
        to use our website to view, create and update the products that they
        have listed. Only the developers or administrators would be able to delete
        an existing product.
    </p>
</body>
</html>
<footer>
    <h2 class="Devs">Developer of Farmerce</h2>
    <img class="pier" src="~/image/HomePage/pier.jpg" />
    <img class="jan" src="~/image/HomePage/jan.jpg" />
    <img class="bryce" src="~/image/HomePage/bryce.jpg" />
    <img class="JC" src="~/image/HomePage/JC.jpg" />
</footer>