<!DOCTYPE html>
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<html>

<head>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />    
    <br />
    <br />
    <br />
    <br />    
    <br />
    <br />
    <br />
    <br />    
    <br />
    <br />
    <br />
    <br />    
    <br />
    <br />
    <br />
    <br />    
    <br />
</body>
<footer class="border-top footer text-muted" style="text-align:center">
    <div class="container" style="color:white">
        &copy; 2021 - MyInventory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <a class="nav-link" href="Home/AboutUs.cshtml">About Us</a>
        <br />
    </div>
</footer>
</html>